
.hidden {
    display: none !important;
}

#expand-container {
    overflow: hidden;
}

#expand-contract {
    margin-top: 0;
    transition: all 0.25s;
    text-align: center;

}

#expand-contract.expanded {
    margin-top: -100%;
    text-align: center;
    /* transition: all 1s; */

}

.card-background {
    background-color: rgba(0, 0, 0, 0.03);
}

.card-head {
    padding: 0.5rem 1rem;
    margin-bottom: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.active-sub-category {
    /* color: #dcb14a; */

    background-color: #dcb14a;
}
.shadow-top {
    box-shadow: 0px 0px 8px rgb(0 0 0 / 75%);
}
