/* start alerts */
.active-sub-category {
    color: #b68b23;
}
.ajax-alert {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    position: fixed;
    z-index: 1001;
}
.ajax-alert.active {
    transform: translateX(0%);
}
.ajax-alert .ajax-alert-content {
    display: flex;
    align-items: center;
}
.ajax-alert-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    /* background-color: #4070f4; */
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
/* make var */
:root {
--success: #2ecc71;
--info: #3498db;
--warning: #f1c40f;
--error: #e74c3c;
}
.success {
    background-color: var(--success);
}

.info {
    background-color: var(--info);
}

.warning {
    background-color: var(--warning);
}

.error {
    background-color: var(--error);
}

.ajax-alert-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.message .text.text-1 {
    font-weight: 600;
    color: #333;
}
.ajax-alert .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.ajax-alert .close:hover {
    opacity: 1;
}
.ajax-alert .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}
.ajax-alert .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}
.progress.active:before {
    animation: progress 2s linear forwards;
}
@keyframes progress {
    100% {
        right: 100%;
    }
}
.ajax-alert.active~button {
    pointer-events: none;
}
/* end alerts */
