version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-app
    container_name: gateway
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - .:/var/www
    working_dir: /var/www
    command: >
      bash -c "npm install && npm run dev & php artisan serve --host=0.0.0.0 --port=8000 & wait -n"
    depends_on:
      - db
    networks:
      - laravel

  db:
    image: postgres:15
    container_name: laravel-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:

volumes:
  pgdata:
